@charset "utf-8";

$link-color: #6bb8da;
$background-color: #f7f7f7;
$border-grey: #cacaca;
$text-grey: #c1c2c4;
$text-dark: #676767;
$text-black: #3c424c;
$yellow: #f9dc1b;
$red: #ed516a;
$border-lightgrey: #cccccc;

* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

span {
	display: inline-block;
}

.p {
	display: block;
	padding-bottom: 20px;

	&:last-child {
		padding-bottom: 30px;
	}

	&.top {
		padding-top: 20px;
	}
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	padding-bottom: 2px;

	&.link {
		color: $link-color;
		text-decoration: underline;
	}
}

table {
	width: 100%;
}

span.center {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 25px 0px;
}



.letter {
	background: $background-color;
	color: black;
}

.top-border, .bottom-border {
	td {
		width: 100%;
		height: 10px;
		background: url("../images/border-background-reverse.png");
		background-size: 596px 20px;
	}
}

.top-border {
	td {
		background-position: 0% 100%;
	}
}

.bottom-border {
	td {
		background-position: 0% 0%;
	}
}

.action {
	width: 260px;
	color: black;
	background: $yellow;
	padding: 15px 0px;
	text-align: center;
	text-transform: uppercase;

	&.block {
		width: 100%;
	}
}

td {
	&:first-child:last-child {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;

		&.wrapper {
			padding: 0px;
		}
	}
}

tr {
	&.logo {
		td {
			padding-top: 30px;
			padding-bottom: 30px;

			a {
				display: block;
				height: 94px;
				background: url("../images/logo.png");
				background-repeat: no-repeat;
				background-size: 93.5px;
			}
		}
	}

	&.menu {
		td {
			background: url("../images/menu-background.png");
			background-size: 100% 60px;
			background-repeat: no-repeat;
			background-position: -20px 0px;

			table {
				max-width: 990px;
				height: 60px;
				text-transform: uppercase;
				font-size: 11px;

				tr {
					td {
						&:first-child {
							padding-left: 0px;
						}

						a {
							border-bottom: 1px solid #c6a925;
							font-weight: 500;
						}
					}
				}
			}
		}
	}

	&.text {
		td {
			font-size: 14px;
			line-height: 25px;
		}

		&.f {
			td {
				font-size: 16px;
				line-height: 29px;
			}
		}

		&.center {
			text-align: center;
		}

		&.dark {
			color: $text-dark;

			a {
				color: inherit;
			}
		}
	}

	&.grey-border {
		td {
			span {
				display: block;
				border-top: 1px dashed $border-grey;
				padding-bottom: 20px;
			}
		}
	}

	.info, .items {
		padding-bottom: 20px;

		tr {
			td {
				font-size: 12px;
				text-transform: uppercase;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 10px;
				color: $text-black;
			}

			&:last-child {
				td {
					padding-bottom: 0px;
				}
			}
		}
	}

	.info {
		tr {
			td {
				&:first-child {
					width: 100%;
				}

				&:last-child {
					text-align: right;
					white-space: nowrap;
				}
			}
		}

		&.bottom {
			padding-bottom: 10px;

			tr {
				td {
					&:nth-child(2) {
						text-align: right;
						color: $text-grey;
						padding-right: 40px;
					}
				}
			}
		}
	}

	.items {
		tr {
			&:first-child {
				td {
					color: $text-grey;
				}
			}

			td {
				padding-bottom: 15px;

				&:first-child {
					color: $text-grey;
				}

				&:nth-child(3), &:last-child {
					text-align: right;
				}
			}
		}
	}

	.auth {
		width: auto;

		tr {
			td {
				&:first-child {
					padding-right: 40px;
				}

				&:last-child {
					min-width: 210px;
					border-bottom: 1px solid $border-lightgrey;
					line-height: 25px;

					span {
						padding-top: 4px;
						font-size: 14px;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
			}
		}
	}

	&.flag {
		td {
			text-align: center;
			padding-bottom: 20px;

			span {
				display: inline-block;
				width: 110px;
				height: 15px;
				background: url("../images/flag.png");
				background-repeat: no-repeat;
				background-size: 100%;
			}
		}
	}

	&.socials {
		td {
			padding: 25px 0px;
			text-align: center;

			span {
				margin: 0px 20px;
				background-size: 100%;
				background-repeat: no-repeat;
				vertical-align: middle;

				&.facebook {
					width: 9px;
					height: 17px;
					background-image: url("../images/facebook.png");
				}

				&.vk {
					width: 21px;
					height: 12px;
					background-image: url("../images/vk.png");
				}

				&.instagram {
					width: 15px;
					height: 15px;
					background-image: url("../images/instagram.png");
				}
			}
		}
	}
}

.banner {
	background-size: cover;
	background-repeat: no-repeat;

	tr {
		td {
			width: 100%;
			height: 100%;
			color: white;
			text-transform: uppercase;
			text-align: center;
			font-size: 36px;
		}
	}
}

.item {
	display: inline-block;
	width: 100%;
	max-width: 245px;

	&:nth-child(2n+1) {
		padding-right: 15px;
	}

	table {
		tr {
			td {
				padding: 10px 0px;
				text-align: center;

				.line {
					text-decoration: line-through;
				}

				.red {
					color: $red;
				}				
			}
			&.name {
				td {
					text-transform: uppercase;
				}
			}	
		}
	}
}

.modal {
	.modal-dialog {
		width: 90%;

		.modal-content {
			width: 100%;
			border-radius: 0px;
            //@include font(book);

			.modal-header {
				//padding: 20px;
				//background: $theme-darkblue;
				//color: white;
				position: relative;
				//padding: 0;
				border: none;
				
				.close {
					opacity: 1 !important;
					text-shadow: none;
                    padding: 5px;
                    margin-top: -7px;
                    margin-right: -5px;

					span {
						font-size: 30px;
						font-weight: lighter;
					}
				}
			}

			.modal-body {
				//padding: 20px;
				//padding: 0;
			}

			.modal-footer {
				//padding: 20px;
				//padding: 0;
				text-align: left;
			}
		}
	}

	&.modal-callback {
		.modal-dialog {
			max-width: 300px;

			.modal-content {
			}
		}
	}
}
