span {
  display: inline-block;
}

.p {
  display: block;
  padding-bottom: 20px;
}

.p:last-child {
  padding-bottom: 30px;
}

.p.top {
  padding-top: 20px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
}

a.link {
  color: #6bb8da;
  text-decoration: underline;
}

table {
  width: 100%;
}

span.center {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0px;
}

.letter {
  background: #f7f7f7;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.letter,
.letter * {
  margin: 0;
  padding: 0;
}

.top-border td,
.bottom-border td {
  width: 100%;
  height: 10px;
  background: url("images/border-background-reverse.png");
  background-size: 596px 20px;
}

.top-border td {
  background-position: 0% 100%;
}

.bottom-border td {
  background-position: 0% 0%;
}

.action {
  width: 260px;
  color: black;
  background: #f9dc1b;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
}

.action.block {
  width: 100%;
}

td:first-child:last-child {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

td:first-child:last-child.wrapper {
  padding: 0px;
}

tr.logo td {
  padding-top: 30px;
  padding-bottom: 30px;
}

tr.logo td a {
  display: block;
  height: 94px;
  background: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 93.5px;
}

tr.menu td {
  background: url("images/menu-background.png");
  background-size: 100% 60px;
  background-repeat: no-repeat;
  background-position: -20px 0px;
}

tr.menu td table {
  max-width: 990px;
  height: 60px;
  text-transform: uppercase;
  font-size: 11px;
}

tr.menu td table tr td:first-child {
  padding-left: 0px;
}

tr.menu td table tr td a {
  border-bottom: 1px solid #c6a925;
  font-weight: 500;
}

tr.text td {
  font-size: 14px;
  line-height: 25px;
}

tr.text.f td {
  font-size: 16px;
  line-height: 29px;
}

tr.text.center {
  text-align: center;
}

tr.text.dark {
  color: #676767;
}

tr.text.dark a {
  color: inherit;
}

tr.grey-border td span {
  display: block;
  border-top: 1px dashed #cacaca;
  padding-bottom: 20px;
}

tr .info,
tr .items {
  padding-bottom: 20px;
}

tr .info tr td,
tr .items tr td {
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  color: #3c424c;
}

tr .info tr:last-child td,
tr .items tr:last-child td {
  padding-bottom: 0px;
}

tr .info tr td:first-child {
  width: 100%;
}

tr .info tr td:last-child {
  text-align: right;
  white-space: nowrap;
}

tr .info.bottom {
  padding-bottom: 10px;
}

tr .info.bottom tr td:nth-child(2) {
  text-align: right;
  color: #c1c2c4;
  padding-right: 40px;
}

tr .items tr:first-child td {
  color: #c1c2c4;
}

tr .items tr td {
  padding-bottom: 15px;
}

tr .items tr td:first-child {
  color: #c1c2c4;
}

tr .items tr td:nth-child(3),
tr .items tr td:last-child {
  text-align: right;
}

tr .auth {
  width: auto;
}

tr .auth tr td:first-child {
  padding-right: 40px;
}

tr .auth tr td:last-child {
  min-width: 210px;
  border-bottom: 1px solid #cccccc;
  line-height: 25px;
}

tr .auth tr td:last-child span {
  padding-top: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

tr.flag td {
  text-align: center;
  padding-bottom: 20px;
}

tr.flag td span {
  display: inline-block;
  width: 110px;
  height: 15px;
  background: url("images/flag.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

tr.socials td {
  padding: 25px 0px;
  text-align: center;
}

tr.socials td span {
  margin: 0px 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

tr.socials td span.facebook {
  width: 9px;
  height: 17px;
  background-image: url("images/facebook.png");
}

tr.socials td span.vk {
  width: 21px;
  height: 12px;
  background-image: url("images/vk.png");
}

tr.socials td span.instagram {
  width: 15px;
  height: 15px;
  background-image: url("images/instagram.png");
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
}

.banner tr td {
  width: 100%;
  height: 100%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
}

.item {
  display: inline-block;
  width: 100%;
  max-width: 245px;
}

.item:nth-child(2n+1) {
  padding-right: 15px;
}

.item table tr td {
  padding: 10px 0px;
  text-align: center;
}

.item table tr td .line {
  text-decoration: line-through;
}

.item table tr td .red {
  color: #ed516a;
}

.item table tr.name td {
  text-transform: uppercase;
}

.modal .modal-dialog {
  width: 90%;
}

.modal .modal-dialog .modal-content {
  width: 100%;
  border-radius: 0px;
}

.modal .modal-dialog .modal-content .modal-header {
  position: relative;
  border: none;
}

.modal .modal-dialog .modal-content .modal-header .close {
  opacity: 1 !important;
  text-shadow: none;
  padding: 5px;
  margin-top: -7px;
  margin-right: -5px;
}

.modal .modal-dialog .modal-content .modal-header .close span {
  font-size: 30px;
  font-weight: lighter;
}

.modal .modal-dialog .modal-content .modal-footer {
  text-align: left;
}

.modal.modal-callback .modal-dialog {
  max-width: 300px;
}